body {
	background-image: none !important;
}

.subscriptions__list {
	display: flex;
	justify-content: space-between;
	gap: 2.2%;
}

.subscriptions__container {
	width: 90%;
	margin: 0 auto;
	margin-left: 7%;
}


.subscriptions__item {
	width: 40%;
}

.subscriptions__item:not(:last-child) {
	margin-right: 30px;
}

.nft {
	display: flex;
	flex-direction: column;
	align-items: center;
	user-select: none;
	padding: 30px;
	width: 100%;
	min-height: 500px;
	margin: 20px auto;
	border: 1px solid #ffffff22;
	background: linear-gradient(0deg, #282c34 0%, rgba(51, 172, 99, 0.7) 100%);
	box-shadow: 0 7px 20px 5px #00000088;
	border-radius: 0.7rem;
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
	overflow: hidden;
	transition: 0.5s all;
}

.ntf_1 {
	background: linear-gradient(0deg, #00aecd 0%, rgba(0, 206, 168, 1) 100%);
}

.ntf_2 {
	background: linear-gradient(0deg, #ff508e 0%, rgba(255, 120, 52, 1) 100%);
}

.ntf_3 {
	background: linear-gradient(0deg, #FF8E00 0%, #FFE400 100%);
}


/*linear-gradient(0deg, #FF8E00 0%, #FFE400 100%)*/

.nft hr {
	width: 100%;
	border: none;
	border-bottom: 1px solid #88888855;
	margin-top: 0;
}
.nft ins {
	text-decoration: none;
}
.nft .main {
	display: flex;
	flex-direction: column;
	width: 90%;
	padding: 1rem;
}
.nft .main .tokenImage {
	border-radius: 0.5rem;
	max-width: 100%;
	height: 250px;
	object-fit: cover;
}
.nft .main .description {
	margin: 0.5rem 0;
	color: #a89ec9;
}
.nft .main .tokenInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nft .main .tokenInfo .price {
	display: flex;
	align-items: center;
	color: #ee83e5;
	font-weight: 700;
}
.nft .main .tokenInfo .price ins {
	margin-left: -0.3rem;
	margin-right: 0.5rem;
}
.nft .main .tokenInfo .duration {
	display: flex;
	align-items: center;
	color: #a89ec9;
	margin-right: 0.2rem;
}
.nft .main .tokenInfo .duration ins {
	margin: 0.5rem;
	margin-bottom: 0.4rem;
}
.nft .main .creator {
	display: flex;
	align-items: center;
	margin-top: 0.2rem;
	margin-bottom: -0.3rem;
}
.nft .main .creator ins {
	color: #a89ec9;
	text-decoration: none;
}
.nft .main .creator .wrapper {
	display: flex;
	align-items: center;
	border: 1px solid #ffffff22;
	padding: 0.3rem;
	margin: 0;
	margin-right: 0.5rem;
	border-radius: 100%;
	box-shadow: inset 0 0 0 4px #000000aa;
}
.nft .main .creator .wrapper img {
	border-radius: 100%;
	border: 1px solid #ffffff22;
	width: 2rem;
	height: 2rem;
	object-fit: cover;
	margin: 0;
}
.nft ::before {
	position: fixed;
	content: "";
	box-shadow: 0 0 100px 40px #ffffff08;
	top: -10%;
	left: -100%;
	transform: rotate(-45deg);
	height: 60rem;
	transition: 0.7s all;
}

.nft:hover {
	border: 1px solid #ffffff44;
	box-shadow: 0 7px 50px 10px #000000aa;
	transform: scale(1.015);
	filter: brightness(1.3);
}
.nft:hover ::before {
	filter: brightness(0.5);
	top: -100%;
	left: 200%;
}

.subscriptions__heading {
	text-align: center;
	color: #FFFFFF;
	font-size: 33px;
}

.subscriptions__button {
	padding: 12px 15px;
	width: 55%;
	margin-top: auto;
	border: 1px solid #FFFFFF;
	background-color: transparent;
	border-radius: 5px;
	color: #ffffff;
	transition: all .3s ease-in-out;
}

.sign-up-modal p,
.sign-up-modal .form-checkbox label {
	font-size: 1em;
	font-weight: 300;
}

.sign-up-modal .form-checkbox label {
	cursor: pointer;
}

.logo {
	fill: #FEFEFE;
}

.logo-container {
	width: 100%;
	margin-top: 50px;
	position: relative;
	text-align: center;
}

.sign-up-modal {
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	color: #fefefe;
	border-style: solid;
	border-width: 10px;
	border-color: rgb(254, 254, 254);
	border-radius: 10px 10px 10px 10px;
	width: 100%;
	min-width: 400px;
	max-width: 700px;
	margin: 0 auto;
	padding: 25px;
}

.sing-modal-free {
	background-image: -moz-linear-gradient( -90deg, #00aecd 0%, rgba(0, 206, 168, 1) 100%);
	background-image: -webkit-linear-gradient( -90deg, #00aecd 0%, rgba(0, 206, 168, 1) 100%);
	background-image: -ms-linear-gradient( -90deg, #00aecd 0%, rgba(0, 206, 168, 1) 100%);
}

.sing-modal-standard {
	background-image: -moz-linear-gradient( -90deg, #ff508e 0%, rgba(255, 120, 52, 1) 100%);
	background-image: -webkit-linear-gradient( -90deg, #ff508e 0%, rgba(255, 120, 52, 1) 100%);
	background-image: -ms-linear-gradient( -90deg, #ff508e 0%, rgba(255, 120, 52, 1) 100%);
}

.sing-modal-premium {
	background-image: -moz-linear-gradient( -90deg, #FF8E00 0%, #FFE400 100%);
	background-image: -webkit-linear-gradient( -90deg, #FF8E00 0%, #FFE400 100%);
	background-image: -ms-linear-gradient( -90deg, #FF8E00 0%, #FFE400 100%);
}

.sign-up-modal form {
	margin: 0 auto;
	text-align: center;
}

.sign-up-modal input::-webkit-input-placeholder {
	color: #fefefe;
	opacity: 1;
}

.sign-up-modal input:focus::-webkit-input-placeholder {
	color: #111;
	opacity: .5;
	transition: all 0.3s ease;
}

.sign-up-modal .input-container {
	margin: 10px;
}

.sign-up-modal input[type="tel"],
.sign-up-modal input[type="text"],
.sign-up-modal input[type="password"],
.sign-up-modal input[type="checkbox"]:focus,
.sign-up-modal input[type="submit"]:focus {
	outline: 0;
}

.sign-up-modal input[type="tel"],
.sign-up-modal input[type="text"],
.sign-up-modal input[type="password"] {
	font-weight: 700;
	font-size: 1.4em;
	padding: 10px;
	width: 100%;
	border-width: 2px;
	border-color: rgba(247, 247, 247, .3);
	border-style: solid;
	background: transparent;
}

.sign-up-modal input[type="tel"]:focus,
.sign-up-modal input[type="text"]:focus,
.sign-up-modal input[type="password"]:focus {
	background: white;
	transition: all 0.3s ease;
	color: #222;
}

.sign-up-modal input[type="checkbox"] {
	-webkit-appearance: none;
	background-color: #fefefe;
	display: inline-block;
	position: relative;
	padding: 6px;
	margin-left: -6px;
	margin-top: 25px;
	cursor: pointer;
}

.sign-up-modal input[type="checkbox"]:checked:after {
	content: '\2714';
	font-size: 13px;
	position: absolute;
	top: -2px;
	left: 2px;
	color: #111;
}

.sign-up-modal a {
	color: #fefefe;
	text-decoration: underline;
}


.sign-up-modal input[type="submit"] {
	font-weight: 700;
	font-size: 1.8em;
	color: #111;
	background: #fefefe;
	border-style: none;
	padding: 10px 50px;
	margin: 25px 0 15px 0;
	position: relative;
	display: inline-block;
	transition: all .1s linear;
}

.sign-up-modal input[type="submit"]:active {
	transform: translateY(3px);
	-webkit-transform: translateY(3px);
	-ms-transform: translateY(3px);
}

.sign-up-modal #close-modal-button {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #00ceaa;
	float: right;
	position: relative;
	top: -55px;
	left: 50px;
	cursor: pointer;
}

.sign-up-modal #close-modal-button:before {
	content: '\2716';
	font-size: 1.5em;
	position: relative;
	top: 10px;
	left: 17px;
}

.input-info-card {
	display: flex;
}

.input-info {
	width: 50%;
}

.popup-window {
	position: relative;
	width: 32%;
	border-radius: 5px;
}

.popup-window:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	background-image: url("/local/modules/up.tree/images/lock.svg");
	background-repeat: no-repeat;
	border-radius: 5px;
	background-size: 37%;
	background-position: 50% 50%;
	z-index: 10;
}

.popup-window-overlay {
	display: none !important;
}

.popup-window-close-icon {
	z-index: 20;
}

#modal-form-heading {
	text-align: center;
	font-size: 46px;
}

.not-work {
	position: absolute;
	color: #000000;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	bottom: 23%;
	font-size: 19px;
	text-align: center;
	left: 0;
	z-index: 20;
}

.sign-up-button {
	border-radius: 5px;
}

.subscriptions__tabs-item {
	display: none;
}

.subscriptions__container-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.subscriptions__btn {
	padding: 3px 30px;
	border: 1px solid #00ceaa;
	background-color: transparent;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	border-radius: 5px;
	font-size: 22px;
	color: #000000;
	cursor: pointer;
}

.subscriptions__btn._active {
	background-color: #00ceaa;
	color: #FFFFFF;
}

.subscriptions__btn:not(:last-child) {
	margin-right: 20px;
}

._active {
	display: flex;
}