@font-face {
	font-family: 'MorningBreeze';
	src: url('./fonts/morningbreeze-bold-webfont.woff2') format('woff2'),
	url('./fonts/morningbreeze-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;

}

@font-face {
	font-family: 'MorningBreeze';
	src: url('./fonts/morningbreeze-italic-webfont.woff2') format('woff2'),
	url('./fonts/morningbreeze-italic-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: 'MorningBreeze';
	src: url('./fonts/morningbreeze-light-webfont.woff2') format('woff2'),
	url('./fonts/morningbreeze-light-webfont.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'MorningBreeze';
	src: url('./fonts/morningbreeze-webfont.woff2') format('woff2'),
	url('./fonts/morningbreeze-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}