@import "fonts.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	position:relative;
	min-height: 100%;
	scroll-behavior: smooth;
	min-width: 320px;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	margin: 0;
	height: 100%;
	background-color: #F1F9F8;
	background-image: url("/local/modules/up.tree/images/tree.png");
	background-size: 32%;
	background-position: 31%;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
	color: #000000;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.my-container {
	width: 96%;
	margin-left: auto;
}

.header {
	display: flex;
	align-items: flex-start;
}

.header__nav {
	position:absolute;
	left:0;
	right:0;
	bottom: 0;
	top: 3.5%;
	width: 4%;
	background-color: #00ceaa;
	z-index: 10;
}

.header__nav-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 125%;
	align-items: center;
}

.header__icon {
	margin-left: auto;
}

.header__icon-name {
	display: flex;
	font-size: 20px;
	line-height: 20px;
	color: #000000;
}

.header__nav-item {
	padding: 6px;
	padding-bottom: 15px;
	width: 68%;
	text-align: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.header__nav-item:first-child {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.header__svg-path {
	transition: fill .3s ease-in-out;
}

.header__svg-path-stroke {
	transition: stroke .3s ease-in-out;
}

.header__nav-item:hover .header__svg-path {
	fill: #ffffff;
}

.header__nav-item:hover .header__svg-path-stroke {
	stroke: #ffffff;
}

[data-title] {
	position: relative;
	cursor: help;
}

[data-title]::after {
	content: attr(data-title);
	position: absolute;
	padding: 5px 8px 0 5px;
	left: 100%;
	top: 19%;
	opacity: 0;
	width: 350%;
	transition: opacity .3s ease-in-out;
	background-color: #00ceaa;
	border-radius: 0 20px 20px 0;
	color: #ffffff;
	z-index: 10;
	font-size: 15px;
}

[data-title]:hover::after {
	opacity: 1;
}

.header__search-form {
	position: relative;
	display: flex;
	align-items: center;
	width: 25%;
}

.header__nav-item-tree {
	padding: 14px;
	background: #00c1b8;
	width: 100%;
	border-bottom: none;
}

.header__input-search {
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #F5F4F6;
}

.header__button-search {
	position: absolute;
	padding: 3px;
	right: 2%;
	background-color: #33AC63;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.header__icon {
	display: flex;
	align-items: center;
}

.header__image-icon {
	margin-right: 8px;
	width: 50px;
	height: 50px;
}

.footer {
	margin-top: auto;
	padding: 30px 0;
	text-align: center;
	background-color: transparent !important;
}

.footer__copyright {
	margin: 0;
	font-size: 1.2em;
	color: #000000;
	line-height: 1.5;
}

.header__title {
	font-size: 1.7em;
	color: #f5f5f5;
	margin: 0 auto;
}
.name__link {
	font-size: 25px;
}

.header_item {
	font-size: 1.2em;
}

.tree__icon {
	width: 40px;
	height: 40px;
}

.email__link{
	color: #00ceaa;
}

div.btn-container{
	display: flex;
	align-items: center;
}

div.btn-container i{
	display: inline-block;
	position: relative;
	top: -9px;
}

label {
	font-size: 13px;
	color: #424242;
	font-weight: 500;
}

.btn-color-mode-switch{
	display: inline-block;
	margin: 0px;
	position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
	margin: 0px;
	width: 140px;
	height: 30px;
	background: #E0E0E0;
	border-radius: 26px;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease;
	display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
	content: attr(data-on);
	position: absolute;
	font-size: 12px;
	font-weight: 500;
	top: 7px;
	right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
	content: attr(data-off);
	width: 70px;
	height: 100%;
	background: #fff;
	border-radius: 26px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	transition: all 0.3s ease;
	box-shadow: 0px 0px 6px -2px #111;
	padding: 5px 0px;
}

.btn-color-mode-switch > .alert{
	display: none;
	background: #FF9800;
	border: none;
	color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]{
	cursor: pointer;
	width: 50px;
	height: 25px;
	opacity: 0;
	position: absolute;
	top: 0;
	z-index: 1;
	margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
	background: #151515;
	color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
	content: attr(data-on);
	left: 68px;
	background: #3c3c3c;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
	content: attr(data-off);
	right: auto;
	left: 20px;
}


.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
	display: block;
}

/*mode preview*/
.dark-preview{
	background: #0d0d0d;
}

.dark-preview div.btn-container i.fa-sun-o{
	color: #777;
}

.dark-preview div.btn-container i.fa-moon-o{
	color: #fff;
	text-shadow: 0px 0px 11px #fff;
}

.white-preview{
	background: #fff;
}

.white-preview div.btn-container i.fa-sun-o{
	color: #ffa500;
	text-shadow: 0px 0px 16px #ffa500;
}

.white-preview div.btn-container i.fa-moon-o{
	color: #777;
}

@media (max-width: 1200px) {
	.header__svg {
		width: 20px;
		height: 20px;
	}

	.header__nav {
		width: 5%;
	}

	.my-container {
		width: 95%;
	}

	.header__main {
		padding: 6px;
	}
}

@media (max-width: 900px) {
	body {
		background-image: none;
	}

	.header__icon-name {
		font-size: 12px;
		line-height: 12px;
	}

	.footer__copyright {
		font-size: 13px;
	}

	.header__nav {
		width: 6%;
	}

	.my-container {
		width: 94%;
	}

	.header__search-form {
		width: 30%;
	}
}

@media (max-width: 651px) {
	.header__nav {
		width: 9%;
	}

	.my-container {
		width: 91%;
	}

	.header__search-form {
		width: 52%;
	}
}

@media (max-width: 476px) {
	.header__icon-name {
		display: none;
	}

	.header__nav {
		width: 12%;
	}

	.my-container {
		width: 88%;
	}
}