.main__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    top:  50%;
    left: 51.5%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    width: 30%;
}

.main__form {
    width: 100%;
}

.main__container-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main__input-form {
    margin-bottom: 20px;
    padding: 13px 29px;
    width: 100%;
    background-color: #f5f9f7;
    border: none;
    border-bottom: 3px solid #78c192;
}

.main__input-form:focus {
    outline: none;
    border-bottom: 3px solid #a6fdca;
}

.main__button-form {
    padding: 15px 30px;
    width: 100%;
    background-color: #2c9a5a;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    transition: background-color .3s ease-in-out;
}

.main__button-form:hover {
    background-color: #3de280;
}

.main__label-form {
    display: inline-block;
    margin-bottom: 10px;
    color: #000000;
}

.main__container-input {
    position: relative;
}

.main__icon-input {
    position: absolute;
    top: 43%;
    left: 1%;
}

.main__tabs-button {
    padding-bottom: 13px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    color: #000000;
}

.main__tabs-button._active {
    color: #3de280;
    border-bottom: 2px solid #3de280;
}

.main__tabs-button_login {
    margin-right: 15px;
}

.main__tabs-item:not(._active) {
    display: none;
}

.main__tabs-nav {
    margin-bottom: 15px;
    border-bottom: 2px solid #f4f3f2;
    width: 100%;
}

.main__heading {
    color: #000000;
    font-style: italic;
}

body {
    background-image: url("/local/modules/up.familyTree/images/Family-Tree.png"),
    url("/local/modules/up.familyTree/images/Family-Tree-reverse.png");
    background-repeat: no-repeat;
    background-position: 100% 100%,
                        4% 100%;
    background-size: 33%;
    background-attachment: fixed;
}


@media (max-width: 900px) {
    .main__container {
        width: 40%;
    }
}

@media (max-width: 651px) {
    .main__container {
        width: 56%;
        left: 56%;
    }
}

@media (max-width: 476px) {
    .main__container {
        width: 70%;
    }
}