@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: none !important;
}

.discussions {
	width: 35%;
	box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
	overflow: hidden;
	background-color: #00ceaa;
	display: inline-block;
}

#chat-container {
	display: flex;
	flex-direction: column;
}

.section {
	display: flex;
	flex-direction: column;
}

.send-problem {
	background-color: #00ceaa;
	border: none;
	border-radius: 5px;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	color: #fff;
	font-size: 23px;
	margin-left: auto;
	margin-bottom: 20px;
	display: none;
	cursor: pointer;
}

.discussions .discussion {
	width: 100%;
	height: 90px;
	background-color: #FAFAFA;
	border-bottom: solid 1px #E0E0E0;
	display:flex;
	align-items: center;
	cursor: pointer;
}

.discussions .search {
	display:flex;
	align-items: center;
	justify-content: center;
	color: #E0E0E0;
}

.discussions .search .searchbar {
	height: 40px;
	background-color: #FFF;
	width: 70%;
	padding: 0 20px;
	border-radius: 50px;
	border: 1px solid #EEEEEE;
	display:flex;
	align-items: center;
	cursor: pointer;
}

.discussions .search .searchbar input {
	margin-left: 15px;
	height:38px;
	width:100%;
	border:none;
	font-family: 'Montserrat', sans-serif;;
}

.discussions .search .searchbar *::-webkit-input-placeholder {
	color: #E0E0E0;
}
.discussions .search .searchbar input *:-moz-placeholder {
	color: #E0E0E0;
}
.discussions .search .searchbar input *::-moz-placeholder {
	color: #E0E0E0;
}
.discussions .search .searchbar input *:-ms-input-placeholder {
	color: #E0E0E0;
}

.discussions .message-active {
	width: 98.5%;
	height: 90px;
	background-color: #FFF;
	border-bottom: solid 1px #E0E0E0;
}

.discussions .discussion .photo {
	margin-left:20px;
	display: block;
	width: 45px;
	height: 45px;
	background: #E6E7ED;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.desc-contact {
	height: 43px;
	width:50%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.discussions .discussion .name {
	margin: 0 0 0 20px;
	font-family:'Montserrat', sans-serif;
	font-size: 11pt;
	color:#515151;
}

.discussions .discussion .message {
	margin: 6px 0 0 20px;
	font-family:'Montserrat', sans-serif;
	font-size: 9pt;
	color:#515151;
}

.timer {
	margin-left: 15%;
	font-family:'Open Sans', sans-serif;
	font-size: 11px;
	padding: 3px 8px;
	color: #BBB;
	background-color: #FFF;
	border: 1px solid #E5E5E5;
	border-radius: 15px;
}

.chat {
	width: 78%;
	background-color: #fff;
}

.header-chat {
	background-color: #FFF;
	height: 90px;
	box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
	display:flex;
	align-items: center;
}

.chat .header-chat .icon {
	margin-left: 30px;
	color:#515151;
	font-size: 14pt;
}

.chat .header-chat .name {
	margin: 0 0 0 20px;
	text-transform: uppercase;
	font-family:'Montserrat', sans-serif;
	font-size: 13pt;
	color:#515151;
}

.chat .header-chat .right {
	position: absolute;
	right: 40px;
}

#messages {
	padding: 25px 35px;
	height: 400px;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#messages::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.chat .messages-chat .message {
	display:flex;
	align-items: center;
	margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
	display: block;
	width: 45px;
	height: 45px;
	background: #E6E7ED;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.chat .messages-chat .text {
	display: flex;
	flex-direction: column;
	margin: 0 35px;
	background-color: #f6f6f6;
	padding: 15px;
	border-radius: 12px;
}

.text-message {
	text-align: end;
	font-size: 20px;
}

.date-message {
	color: #8d8d8d;
	font-size: 15px;
}

.messages-chat {
	position: relative;
}

.text-only {
	margin-left: 45px;
}

.time {
	font-size: 10px;
	color:lightgrey;
	margin-bottom:10px;
	margin-left: 85px;
}

.response-time {
	float: right;
	margin-right: 40px !important;
}

.response {
	float: right;
	margin-right: 0px !important;
	margin-left:auto; /* flexbox alignment rule */
}

.response .text {
	background-color: #e3effd !important;
}

.footer-chat {
	width: 100%;
	height: 80px;
	padding: 20px;
	display:flex;
	align-items: center;
	background-color: transparent;
	border-top: 2px solid #EEE;

}

.chat .footer-chat .icon {
	margin-left: 30px;
	color:#C0C0C0;
	font-size: 14pt;
}

.chat .footer-chat .name {
	margin: 0 0 0 20px;
	text-transform: uppercase;
	font-family:'Montserrat', sans-serif;
	font-size: 13pt;
	color:#515151;
}

.chat .footer-chat .right {
	position: absolute;
	right: 40px;
}

.write-message {
	border:none !important;
	width: 100%;
	height: 100%;
	padding: 10px;
	display: none;
}

.footer-chat *::-webkit-input-placeholder {
	color: #C0C0C0;
	font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
	color: #C0C0C0;
	font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
	color: #C0C0C0;
	font-size: 13pt;
	margin-left:5px;
}
.footer-chat input *:-ms-input-placeholder {
	color: #C0C0C0;
	font-size: 13pt;
}

.clickable {
	cursor: pointer;
}

.chat__container {
	display: flex;
}

.message {
	background-color: transparent !important;
}

.btn-send {
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.choice-chat {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.choice-chat-heading {
	font-size: 28px;
	color: #8d8d8d;
}

.spinner-grow  {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #00ceaa;
	width: 60px;
	height: 60px;
}