@import "fonts.css";

.profile-block-hidden
{
	display: none;
}

.profile-block-shown
{
	display:block;
}

.profile-table
{
	width: 100%;
}

td {
	font-size: 1.2em;
	margin-right: 2%;
}

.profile-link
{
	font-size: 1.7em;
	font-family: 'MorningBreeze', sans-serif, Helvetica !important;
}

.profile-table td {
	vertical-align: top;
	width:20%;
}

div.bx-auth-profile input.bx-auth-input {vertical-align:middle;}
div.bx-auth-profile span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:middle;}
div.bx-auth-profile div.bx-auth-secure-icon {background-image:url(images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-auth-profile div.bx-auth-secure-unlock {background-image:url(images/sec-unlocked.png);}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: none !important;
}

.bx-auth-profile {
	margin-top: 30px !important;
	background-color: #FFFFFF;
	padding: 25px;
	border-radius: 5px;
}

.container {
	padding-top: 5%;
	max-width: 25%;
	min-width: 300px;
	margin: 0 auto;
	text-align: center;
}

.profile img {
	width: 150px;
	height: 150px;
	margin-bottom: 5%;
}
.profile-heading {
	font-size: 24px;
	margin-bottom: 10px;
}

.profile div {
	font-size: 1.3em;
	margin: 0 auto;
}

form {
	margin-top: 20px;
	text-align: left;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: #00ceaa;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #00ce90;
}
input[type="reset"] {
	background-color: #00ceaa;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="reset"]:hover {
	background-color: #00ce90;
}

.image {
	position: absolute;
	width: 150px;
	height: 150px;
}
.image .caption {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	transition: all 0.7s;
	border-radius: 40%;
	opacity: 0;
}
.image .caption:hover {
	opacity: 1;
	visibility: visible;
}

.lupa {
	padding: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.avatars__img {
	width: 100%;
}

.avatars__btn {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

#avatars__list {
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
}

.popup-window {
	width: 41%;
	border-radius: 5px;
}

.avatars__item {
	width: 16%;
	margin-bottom: 20px;
}

.avatars__item:not(:last-child) {
	margin-right: 20px;
}

.avatars__item:nth-of-type(5n) {
	margin-right: 0;
}

.avatars__choose {
	margin-bottom: 20px;
	font-size: 35px;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	text-align: center;
	color: #000;
}

.avatars__choose-container {
	display: flex !important;
	flex-direction: column;
	align-items: center;
}

#avatars__save {
	position: relative;
	padding: 13px 44px;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	background-color: #00ceaa;
	color: #FFFFFF;
	border: none;
	font-size: 25px;
	border-radius: 5px;
	cursor: pointer;
}

#spinner-save {
	position: absolute;
	left: 7%;
	top: 26%;
	width: 25px;
	height: 25px;
	display: none;
}

#avatars__save:disabled {
	opacity: 0.5;
	pointer-events: none;
}

#avatars__save:disabled #spinner-save {
	display: block;
}

.is-active {
	border: 5px solid #00ceaa;
	border-radius: 50%;
}

.article__active {
	position: absolute;
	display: none;
}
