#tree {
	margin: 0 auto;
	margin-top: 60px;
}

[data-n-id] rect {
	fill: #37C373FF;
}

[data-n-id] rect:hover {
	filter: drop-shadow( 4px 5px 5px #aeaeae);
}
div.boc-light .boc-input>input{
	border-color: black;
}

/* input field on focus */
div.boc-light .boc-input>input:focus {
	border-color: #37C373FF;
}

/* the search label on focus */
.boc-light .boc-input>label.focused, .boc-dark .boc-input>label.focused {
	color: #37C373FF !important;
}

/* the hovered search resutt */
.boc-light .boc-search [data-search-item-id]:hover, .boc-light .boc-search [data-selected=yes] {
	background-color: #37C373FF !important;
}