body {
	background-image: none !important;
}

#tree {
	background-color: #F1F9F8;
}

text {
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	font-size: 23px !important;
	font-weight: 400 !important;
}

.bft-light .bft-input>input, .bft-light .bft-input>select {
	font-family: 'MorningBreeze', sans-serif, Helvetica !important;
	font-size: 22px;
	font-weight: 400;
}

.bft-edit-form-title {
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	font-size: 25px;
}

.bft-form-fieldset {
	font-size: 18px;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
}

.node {
	font-family: 'MorningBreeze', sans-serif, Helvetica;
}

.bft-input label {
	font-family: 'MorningBreeze', sans-serif, Helvetica;
}

input {
	font-weight: 300;
}

.tree__spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	width: 50px;
	height: 50px;
	z-index: 20;
	background-color: #ff6068;
}

.bft-link-bft-button {
	display: none;
}