body {
	background-image: none !important;
}

.select-box {
	position: relative;
	width: 100%;
	margin: 0 auto;
	font-family: "Open Sans", "Helvetica Neue", "Segoe UI", "Calibri", "Arial", sans-serif;
	font-size: 18px;
	display: flex;
	align-items: flex-end;
	color: #60666d;
}

.select-container {
	position: relative;
	width: 100%;
}

.notice-container {
	text-align: end;
}

@media (min-width: 768px) {
	.select-box {
		width: 70%;
	}
}
@media (min-width: 992px) {
	.select-box {
		width: 50%;
	}
}
@media (min-width: 1200px) {
	.select-box {
		width: 30%;
	}
}
.select-box__current {
	position: relative;
	box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	outline: none;
}
.select-box__current:focus + .select-box__list {
	opacity: 1;
	animation-name: none;
}
.select-box__current:focus + .select-box__list .select-box__option {
	cursor: pointer;
}
.select-box__current:focus .select-box__icon {
	transform: translateY(-50%) rotate(180deg);
}
.select-box__icon {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	width: 20px;
	opacity: 0.3;
	transition: 0.2s ease;
}
.select-box__value {
	display: flex;
}
.select-box__input {
	display: none;
}
.select-box__input:checked + .select-box__input-text {
	display: block;
	border-radius: 5px 0 0 5px;
}
.select-box__input-text {
	display: none;
	width: 100%;
	margin: 0;
	padding: 15px;
	background-color: #fff;
	border-radius: 5px;
}
.select-box__list {
	position: absolute;
	width: 100%;
	padding: 0;
	list-style: none;
	opacity: 0;
	animation-name: HideList;
	animation-duration: 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: step-start;
	box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	z-index: 10;
}
.select-box__option {
	display: block;
	padding: 15px;
	background-color: #fff;
}
.select-box__option:hover, .select-box__option:focus {
	color: #546c84;
	background-color: #fbfbfb;
}

.search {
	min-height: 75vh;
}

#search-area-user {
	width: 100%;
}

.notFound-icon {
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
}

.search__area {
	position: relative;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 5px;
	width: 54%;
	min-height: 66vh;
	margin: 30px auto;
}


.leaderboard__persons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 85%;
}

.heading-persons {
	margin-right: 5px;
}

.persons-info {
	margin-right: 5px;
}

.search__heading {
	color: #000;
	font-size: 24px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
}

.search__btn {
	padding: 11px 43px;
	background-color: #00ceaa;
	border: none;
	border-radius: 0 5px 5px 0;
	font-size: 23px;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	color: #fff;
}


.notFound {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
}

.notFound-text {
	font-size: 22px;
	line-height: 22px;
	color: #000000;
}

.leaderboard {
	max-width: 490px;
	width: 100%;
	border-radius: 12px;
}
.leaderboard header {
	--start: 15%;
	height: 130px;
	background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(54, 89, 219, 0.33) 10%, rgba(54, 89, 219, 0.33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
	color: #fff;
	position: relative;
	border-radius: 12px 12px 0 0;
	overflow: hidden;
}
.leaderboard header .leaderboard__title {
	position: absolute;
	z-index: 2;
	top: 50%;
	right: calc(var(--start) * 0.75);
	transform: translateY(-50%);
	text-transform: uppercase;
	margin: 0;
}
.leaderboard header .leaderboard__title span {
	display: block;
}
.leaderboard header .leaderboard__title--top {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 6.5px;
}
.leaderboard header .leaderboard__title--bottom {
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 3.55px;
	opacity: 0.65;
	transform: translateY(-2px);
}
.leaderboard header .leaderboard__icon {
	fill: #fff;
	opacity: 0.35;
	width: 50px;
	position: absolute;
	top: 50%;
	left: var(--start);
	transform: translate(-50%, -50%);
}
.leaderboard__profiles {
	background-color: #fff;
	border-radius: 0 0 12px 12px;
	padding: 15px 15px 20px;
	display: grid;
	row-gap: 8px;
}
.leaderboard__profile {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	align-items: center;
	padding: 10px 30px 10px 10px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
	cursor: pointer;
	transition: transform 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98), box-shadow 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98);
	background-color: #fff;
}
.leaderboard__profile:hover {
	transform: scale(1.2);
	box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
}
.leaderboard__picture {
	max-width: 100%;
	width: 60px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #ebeef3, 0 0 0 22px #f3f4f6;
}

.search__spinner {
	position: absolute;
	top: 50%;
	left: 48%;
	margin-right: -50%;
	width: 50px;
	height: 50px;
	z-index: 20;
	background-color: #00ceaa;
}

.leaderboard__name {
	color: #000000;
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 0.64px;
	margin-left: 12px;
}
.leaderboard__value {
	color: #35d8ac;
	font-weight: 700;
	font-size: 34px;
	text-align: right;
}
.leaderboard__value > span {
	opacity: 0.8;
	font-weight: 600;
	font-size: 13px;
	margin-left: 3px;
}

#form-message {
	display: none;
}

.message__form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.message {
	background-color: transparent !important;
}

.message__button {
	margin-left: auto;
	padding: 12px 43px;
	background-color: #00ceaa;
	border: none;
	border-radius: 5px;
	font-size: 23px;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	color: #fff;
}

.popup-window {
	width: 38%;
	border-radius: 5px;
}

#message {
	width: 100%;
	min-height: 128px;
	margin-bottom: 20px;
}

.message__label {
	font-size: 22px;
	line-height: 22px;
	margin-bottom: 20px;
	margin-right: auto;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
}

@keyframes HideList {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0);
	}
}