*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'OpenSans', sans-serif, Helvetica;
    min-height: 100vh;
    margin: 0;
    background-color: #F1F9F8;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.container {
    width: 96%;
    margin-left: auto;
}

.header {
    display: flex;
    align-items: flex-start;
}

.header__nav {
    position: absolute;
    height: 100%;
    width: 4%;
    background-color: #39CA76;
}

.header__main {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__icon {
    margin-left: auto;
}

.header__nav-item {
    padding: 3px;
    width: 73%;
    text-align: center;
    border-bottom: 1px solid #4ed185;
}

.header__search-form {
    position: relative;
    display: flex;
    align-items: center;
    width: 25%;
}

.header__nav-item-tree {
    padding: 5px;
    background: #31ac64;
    width: 100%;
    border-bottom: none;
}

.header__input-search {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #F5F4F6;
}

.header__button-search {
    position: absolute;
    padding: 5px;
    right: 2%;
    background-color: #33AC63;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.header__icon {
    display: flex;
    align-items: center;
}

.header__image-icon {
    margin-right: 8px;
    width: 40px;
    height: 40px;
}

.footer {
    margin: 0 auto;
    margin-top: auto;
}

.footer__copyright {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}