@import "fonts.css";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	position:relative;
	min-height: 100%;
	scroll-behavior: smooth;
	min-width: 320px;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	margin: 0;
	height: 100%;
	background-color: #F1F9F8;
	background-image: url("/local/modules/up.tree/images/tree.png");
	background-size: 32%;
	background-position: 22%;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
	color: #000000;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.container {
	width: 96%;
	margin-left: auto;
}

.footer {
	margin-top: auto;
	padding: 30px 0;
	text-align: center;
}

.footer__copyright {
	margin: 0;
	font-size: 1.2em;
	line-height: 17px;
	color: #000000;
}
.email-link{
	color: #ff6068;
}