.content {
	padding: 0 30px;
}

.data-table {
	width: 100%;
}

.main__input-form-reg {
	margin-bottom: 20px;
	padding: 10px 32px;
	width: 100%;
	background-color: #f5f9f7;
	border: none;
	border-bottom: 3px solid  rgba(255, 96, 104, 0.5);
}

.main__input-form-reg::placeholder {
	font-size: 16px;
	font-weight: 300;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
}

.main__input-form:focus {
	outline: none;
	border-bottom: 3px solid #ff6068;
}

.main__button-form {
	padding: 12px 30px;
	width: 100%;
	font-size: 21px;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	background-color: #ff6068;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	color: #ffffff;
	transition: background-color .3s ease-in-out;
}

.main__button-form:hover {
	background-color: #ff7e2a;
}

.main__title-input {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 18px;
	width: 20%;
}

.main__container-input {
	position: relative;
}

.main__icon-input-reg {
	position: absolute;
	top: 18%;
	left: 2%;
}

tr {
	display: flex;
	flex-direction: column;
}

.main__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 8% 4% 3% auto;
	background-color: #ffffff;
	width: 32%;
}

.main__heading {
	margin: 0;
	margin-bottom: 15px;
	font-size: 31px;
	font-weight: 500;
	color: #000000;
}

.main__tabs-nav {
	margin-bottom: 15px;
	border-bottom: 2px solid #f4f3f2;
	width: 100%;
}

.main__tabs-button {
	font-size: 20px;
	line-height: 20px;
	font-weight: 300;
	background-color: transparent;
	border: none;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	color: #000000;
	transition: color .3s ease-in-out;
}

.main__tabs-button:hover {
	color: #ff6068;
}

.main__tabs-button_login {
	margin-right: 15px;
}

.footer {
	margin-top: 7% !important;
}

.main__tabs-button._active {
	color: #ff6068;
	border-bottom: 2px solid #ff6068;
}

@media (max-width: 900px) {
	.main__container {
		width: 40%;
	}
}

@media (max-width: 651px) {
	.main__container {
		width: 56%;
		left: 56%;
	}
}

@media (max-width: 476px) {
	.main__container {
		width: 70%;
	}
}
