@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: none !important;
}

footer {
	margin-top: auto;
}
.columns {
	display: flex;
	gap: 2%;
}

.card {
	transition: transform 0.3s ease;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button-add-tree {
	background-color: #00ceaa !important;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
}

.input-title-tree {
	font-family: 'MorningBreeze', sans-serif, Helvetica;
}

.create-tree-form {
	display: flex;
	justify-content: center;
	padding-top: 10%;
}

.emerald-color {
	background-color: #00ceaa !important;
}

.cards-container {
	padding: 25px 275px;
}

.columns:not(.is-desktop) {
	flex-wrap: wrap;
	justify-content: center;
}

.card-header-icon {
	z-index: 10;
	padding: 0 !important;
}

svg {
	z-index: -1;
}
