.subscriptions__tabs-item {
	align-items: center;
	justify-content: center;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.article-card {
	width: 100%;
	height: 220px;
	border-radius: 12px;
	overflow: hidden;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 300ms;
}

.article-card:hover {
	transform: translateY(-2px);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.article-card .content {
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	padding: 30px 20px 20px 20px;
	margin-bottom: 0 !important;
	height: auto;
	bottom: 0;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .date,
.article-card .title {
	margin: 0;
}

.title {
	margin: 0 !important;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
}

.article-card .date {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.9);
	margin-bottom: 4px;
}

.article-card .title {
	font-size: 23px;
	color: #fff;
	line-height: 23px;
	width: 55%;
}

.subscriptions__purchase {
	flex-wrap: wrap;
	justify-content: inherit;
	height: 67vh;
}

.subscriptions__purchase-item {
	width: 30%;
}

.subscriptions__purchase-item:not(:last-child) {
	margin-right: 30px;
}

.subscriptions__container-btn {
	margin-bottom: 30px;
}


.subscriptions__purchase-button {
	position: relative;
	padding: 6px 35px;
	background-color: transparent;
	border: 2px solid #fff;
	color: #fff;
	font-size: 22px;
	border-radius: 5px;
	font-family: 'MorningBreeze', sans-serif, Helvetica;
	cursor: inherit !important;
}

.subscriptions__purchase-svg {
	position: absolute;
	left: 18%;
	top: 27%;
}

.filed-purchase {
	width: 38% !important;
}

.tooltip-purchase {
	width: 115% !important;
}

.buy-text {
	margin-left: 12px;
}